<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oblig. P3 parte 2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oblig. P3 parte 2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Cargar datos", "CargarDatos", "Home")</li>
                        (@if (Session["UsuarioMail"] != null && Session["UsuarioMail"].ToString() != "")
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                            <li>@Html.ActionLink("Solicitantes", "Index", "Solicitante")</li>
                            <li>@Html.ActionLink("Expedientes", "Index", "Expediente")</li>
                            <li>@Html.ActionLink("Crear nuevo expediente", "Create", "Expediente")</li>
                            <li>@Html.ActionLink("Buscar expediente", "Buscar", "Expediente")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            
           
            


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Santiago C - Programación 3 Marzo 2018 - Analista Programador ORT</p>
            <p>Sistema de gestión con MVC, Entity Framework, C# y Sql Server.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
