
@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar expediente</h2>

<h3> @Html.ActionLink("Buscar por número", "BuscarPorNumero", "Expediente") </h3>

<h3> @Html.ActionLink("Buscar por solicitante", "BuscarPorSolicitante", "Expediente") </h3>

<h3> @Html.ActionLink("Buscar por funcionario", "BuscarPorFuncionario", "Expediente") </h3>

<h3> @Html.ActionLink("Ver expedientes culminados", "VerCulminados", "Expediente") </h3>

<h3> @Html.ActionLink("Ver expedientes sin culminar", "VerSinCulminar", "Expediente") </h3>

<h3> @Html.ActionLink("Ver todos los expedientes (ordenados)", "VerTodosOrdenados", "Expediente") </h3>

